In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\016\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\016\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\016\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\016\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\016\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [4]:
import pandas as pd
ser = pd.Series([1,2,3], index=['a','b','c'])
ser

a    1
b    2
c    3
dtype: int64

In [5]:
ser.loc['b']

2

In [6]:
ser.loc['b':'c']

b    2
c    3
dtype: int64

In [7]:
ser.loc[['a','c']]

a    1
c    3
dtype: int64

In [8]:
ser.iloc[1]

2

In [9]:
ser.iloc[1:3]

b    2
c    3
dtype: int64

In [10]:
ser.loc[[True, False, True]]

a    1
c    3
dtype: int64

In [11]:
ser != 1

a    False
b     True
c     True
dtype: bool

In [12]:
ser.loc[ser != 1]

b    2
c    3
dtype: int64

In [14]:
df = pd.DataFrame(
    [[1,10,100], [2,20,200], [3,30,300]],
    index = ['r1', 'r2', 'r3'], columns = ['c1', 'c2', 'c3']
)
df

    c1  c2   c3
r1   1  10  100
r2   2  20  200
r3   3  30  300

In [15]:
df.loc['r1']

c1      1
c2     10
c3    100
Name: r1, dtype: int64

In [17]:
df.loc['r1', 'c1']

1

In [18]:
df.loc[:, 'c1']

r1    1
r2    2
r3    3
Name: c1, dtype: int64

In [22]:
df.loc[['r1', 'r3']]

    c1  c2   c3
r1   1  10  100
r3   3  30  300

In [23]:
df.loc[['r1', 'r3'], 'c2':'c3']

    c2   c3
r1  10  100
r3  30  300

In [25]:
df.iloc[1:3, [0,2]]

    c1   c3
r2   2  200
r3   3  300

In [26]:
df > 10

       c1     c2    c3
r1  False  False  True
r2  False   True  True
r3  False   True  True

In [28]:
df.loc[df['c2'] > 10]

    c1  c2   c3
r2   2  20  200
r3   3  30  300

In [31]:
((df['c1'] > 1) & (df['c2'] < 30))

r1    False
r2     True
r3    False
dtype: bool

In [35]:
df.loc[(df['c1'] > 1) & (df['c2'] < 30)]

    c1  c2   c3
r2   2  20  200